.form {
  max-width: 564px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.form_data {
  display: flex;
  justify-content: space-between;
}

.form_name {
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
  flex-basis: 260px;
}

.label {
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
  font-family: Lato, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #212121;
}

.input {
  max-width: 260px;
  font-family: Lato, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #999;
  background-color: transparent;
  padding: 0px 8px 13px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #000;
}

.input:focus {
  outline: none;
  color: #000;
}

.form_rate {
  display: flex;
  flex-direction: column;
}

.price_list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.price_item {
  display: flex;
  justify-content: space-between;
  padding-top: 7px;
  padding-bottom: 33px;
  box-sizing: border-box;
  font-family: Lato, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000;
}

.price_text {
  margin: 0;
  padding: 0;
}

.price_cost {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
}

.form_date {
  display: flex;
  flex-direction: column;
  margin-bottom: 37px;
}

.form_comment {
  display: flex;
  flex-direction: column;
}

.input_comment {
  max-width: 100%;
  resize: none;
  margin-bottom: 49px;
}

.button {
  margin: 0;
  padding: 0;
  margin-left: 385px;
  max-width: 179px;
  min-height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #f47648;
  font-family: Lato, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}