.days {
  position: relative;
  max-width: 1440px;
  min-height: 2339px;
  background-color: #000;
  background-image: url(../../images/rocks.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  overflow: hidden;
}

.container {
  margin: 105px 96px 0px 96px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.day_four {
  margin-bottom: 198px;
}

.day_five {
  grid-column: 2/3;
  grid-row: 2/3;
  justify-self: end;
  margin-bottom: 167px;
}

.day_six {
  grid-column: 1/2;
  grid-row: 3/4;
}

.title {
  margin: 0;
  padding: 0;
  margin-bottom: 48px;
  max-width: 533px;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #fff;
}

.select_day {
  color: #f47648;
}

.paragraph {
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
  max-width: 461px;
  font-family: Lato, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #acacac;
}

.services {
  padding-top: 35px;
  box-sizing: border-box;
}

.services_title {
  margin: 0;
  padding: 0;
  margin-bottom: 31px;
  font-family: Montserrat, Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #fff;
}

.services_content {
  max-width: 481px;
  border-bottom: 1px solid #fff;
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
}

.services_name {
  margin: 0;
  padding: 0;
  padding-left: 9px;
  font-family: Lato, Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.services_description {
  margin: 0;
  padding: 0;
  padding-bottom: 16px;
  padding-right: 31px;
  max-width: 226px;
  font-family: Lato, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #bababa;
  opacity: 0.7;
}

.birds {
  position: absolute;
  top: 340px;
  right: 102px;
}

.clouds {
  max-width: 1861px;
  min-height: 126px;
  position: absolute;
  bottom: -5px;
}